<div>
  <img style="height:200px;width:300px; opacity: 0.8; border-radius: 5px; margin-left: 200px; margin-top:100px;"
    src="./../../../../assets/thankyougif.gif">
</div>
<div id="content" #content style="display: none;">
  <!-- <label style="font-size: large; margin-top:500px;">Order Summary</label> -->
</div>

<button class="btn btn-dark" style="float: right; margin-right: 550px; margin-top:-40px"
  (click)="downloadPDF()">Download
  Invoice</button>

<button class="btn" style="margin-left:740px; margin-top:-63px;background: rgb(255, 172, 94);"
  routerLink="/user/userdash/products">Browse
  other products</button>
