#logo:hover {
  cursor: pointer;
  animation: updown 1.5s ease infinite;

  @keyframes updown {
    0% {
      transform: translateY(-10%);
    }

    50% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(-10%);
    }
  }

}

// #carouselFinal {
//   position: relative;
//   height: auto;
// }

// .carousel-inner {
//   z-index: 0;
//   height: 577px;
// }

// .card {
//   width: 500px;
//   z-index: 1;
//   margin-top: 130px;
//   margin-left: 400px;
//   color: white;
//   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
//   border-color: transparent;
//   display: flex;
// }

// .card,
// .carousel-inner {
//   position: absolute;
// }


::ng-deep.mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
  ;
}

::ng-deep.mat-checkbox .mat-checkbox-frame {
  border-color: white;
}






// .content-main {
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.8);
//   z-index: -1;
// }

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}

.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-footer {
  padding: 7em 0;
  clear: both;
}

@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}

#fh5co-footer {
  position: relative;
}

#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}

#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}

#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}

#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#fh5co-footer .copyright .block {
  display: block;
  color: cornsilk;
}


.btn-primary {
  background: #F85A16;
  color: #fff;
  border: 2px solid #F85A16;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #f96c2f !important;
  border-color: #f96c2f !important;
}

.btn-primary.btn-outline {
  background: transparent;
  color: #F85A16;
  border: 1px solid #F85A16;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #F85A16;
  color: #fff;
}

// #anotherone {
//   margin-left: 150px;
// }

// #responsebreak {
//   display: none;
// }

// @media screen and (max-width: 904px) {
//   .card {
//     height: 0px;
//     width: 100%;
//     margin-left: 0%;
//     margin-top: 55%;
//   }

//   .content-main {
//     height: 600px;
//   }

//   #logthelog {
//     margin-top: 10px;
//     flex-wrap: inherit;
//     float: left;
//   }

//   #anotherone {
//     // float: right;
//     // margin-right: 122px;
//     margin-left: 30px;
//     margin-top: 40px;
//   }

//   #responsebreak {
//     display: block;
//   }

// }


#carouselFinal {
  justify-content: center;
  align-items: center;
  max-height: 100%;
  height: 577px;
  max-width: 100%;
  background: rgb(73, 73, 73);
  background-image: url('./../../../assets/xsimagelogin.jpg');
  background-size: cover;
}

.carousel-inner {
  position: absolute;
  z-index: 0;
  height: 577px;
  max-width: 100%;
}

.card {
  // top: 200px;
  // left: 450px;
  // position: absolute;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-color: transparent;
  z-index: 9;
}

@media only screen and (max-width:1029px) {
  .carousel-inner {
    display: none;
  }
}
